uctool/src/test/xsd-import/data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://data.sample.com/"
	xmlns:impd="http://imported.com/"
	xmlns="http://data.sample.com/" elementFormDefault="qualified">
	<xs:import namespace="http://imported.com/" schemaLocation="imported.xsd" />
	<xs:element name="Empty" type="EmptyType" />
	<xs:complexType name="EmptyType">
		<xs:annotation>
			<xs:documentation>Empty</xs:documentation>
		</xs:annotation>
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Master" type="MasterType" />
	<xs:complexType name="MasterType">
		<xs:annotation>
			<xs:documentation>A master</xs:documentation>
			<xs:documentation>
			This is the master entity.
			HTML tags.
		       </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="empty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Empty</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="withCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>With code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="withAll" minOccurs="0">
				<xs:annotation>
					<xs:documentation>With all</xs:documentation>
					<xs:documentation>Attribute with all options set up.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="123" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="displayOnly" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Display only</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="optional" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mandatory">
				<xs:annotation>
					<xs:documentation>Mandatory</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unique">
				<xs:annotation>
					<xs:documentation>Unique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="naturalKey">
				<xs:annotation>
					<xs:documentation>Natural key</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="primaryKey">
				<xs:annotation>
					<xs:documentation>Primary key</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="integer" minOccurs="0" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Integer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="float" minOccurs="0" type="xs:float">
				<xs:annotation>
					<xs:documentation>Float</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="decimal" minOccurs="0" type="xs:decimal">
				<xs:annotation>
					<xs:documentation>Decimal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="boolean" minOccurs="0" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Boolean</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="date" minOccurs="0" type="xs:date">
				<xs:annotation>
					<xs:documentation>Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="time" minOccurs="0" type="xs:time">
				<xs:annotation>
					<xs:documentation>Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTime" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="timestamp" minOccurs="0" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Timestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="binary" minOccurs="0" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>Binary</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stringWithoutLength" minOccurs="0" type="xs:string">
				<xs:annotation>
					<xs:documentation>String without length</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="binaryWithoutLength" minOccurs="0" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>Binary without length</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceToOtherData" minOccurs="0" type="MasterDetail1Type">
				<xs:annotation>
					<xs:documentation>Reference to other structure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectionOfIntegers" minOccurs="0" maxOccurs="unbounded" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Collection of integers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="integerWithLength" minOccurs="0" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Integer with length</xs:documentation>
					<xs:documentation>Three digits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectionOfIntsWithLength" minOccurs="0" maxOccurs="10" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Collection of integers with length</xs:documentation>
					<xs:documentation>Collection of max 10 integers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectionOfStringsWithLength" minOccurs="0" maxOccurs="12" type="xs:string">
				<xs:annotation>
					<xs:documentation>Collection of strings with length</xs:documentation>
					<xs:documentation>Collection of max 12 strings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectionOfDataStructures" minOccurs="0" maxOccurs="unbounded" type="DetailNType">
				<xs:annotation>
					<xs:documentation>Collection of other structures</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="collectionOfDataStructuresWithLength" minOccurs="0" maxOccurs="5" type="DetailNType">
				<xs:annotation>
					<xs:documentation>Collection of other structures with length</xs:documentation>
					<xs:documentation>Collection of max 5 instances of DetailN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="selectedDetailN" minOccurs="0" type="DetailNType">
				<xs:annotation>
					<xs:documentation>Selected detail N</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multipleDocs">
				<xs:annotation>
					<xs:documentation>Multiple docs</xs:documentation>
					<xs:documentation>Attribute with multiple XSD documentation.</xs:documentation>
					<xs:documentation>XSD documentation 2.</xs:documentation>
					<xs:documentation>XSD documentation 3.</xs:documentation>
					<xs:documentation>XSD documentation 4.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="multiLineDocs">
				<xs:annotation>
					<xs:documentation>Multi-line docs</xs:documentation>
					<xs:documentation>Attribute with XSD documentation spanning multiple lines.
						Next line A2.
						Next line A3.
						Next line A4.
					</xs:documentation>
					<xs:documentation>Another multi-line documentation.
						Next line B2.
						Next line B3.
						Next line B4.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="integerSubType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Integer with type as sub-element</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="stringSubType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>String with type as sub-element</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="dateSubType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date with type as sub-element</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:date" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="withMaxOccursOne" maxOccurs=" 1 " type="xs:string" />
			<xs:element name="xsanySimpleType" type="xs:anySimpleType" />
			<xs:element name="xsanyURI" type="xs:anyURI" />
			<xs:element name="xsbyte" type="xs:byte" />
			<xs:element name="xsdouble" type="xs:double" />
			<xs:element name="xsduration" type="xs:duration" />
			<xs:element name="xsint" type="xs:int" />
			<xs:element name="xslong" type="xs:long" />
			<xs:element name="xsnonNegativeInteger" type="xs:nonNegativeInteger" />
			<xs:element name="xsnonPositiveInteger" type="xs:nonPositiveInteger" />
			<xs:element name="xsnormalizedString" type="xs:normalizedString" />
			<xs:element name="xspositiveInteger" type="xs:positiveInteger" />
			<xs:element name="xsshort" type="xs:short" />
			<xs:element name="xsunsignedByte" type="xs:unsignedByte" />
			<xs:element name="xsunsignedInt" type="xs:unsignedInt" />
			<xs:element name="xsunsignedLong" type="xs:unsignedLong" />
			<xs:element name="xsunsignedShort" type="xs:unsignedShort" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MasterDetail1" type="MasterDetail1Type" />
	<xs:complexType name="MasterDetail1Type">
		<xs:annotation>
			<xs:documentation>Detail 1</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="someInteger" minOccurs="0" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Some integer</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DetailN" type="DetailNType" />
	<xs:complexType name="DetailNType">
		<xs:annotation>
			<xs:documentation>Detail N</xs:documentation>
		</xs:annotation>
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AnotherMaster" type="AnotherMasterType" />
	<xs:complexType name="AnotherMasterType">
		<xs:annotation>
			<xs:documentation>Another master</xs:documentation>
			<xs:documentation>
			Reference to
			
			another structure
			in a data description.
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="detailN" minOccurs="0" type="DetailNType">
				<xs:annotation>
					<xs:documentation>A detail N</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="description-data" type="description-dataType" />
	<xs:complexType name="description-dataType">
		<xs:annotation>
			<xs:documentation>Description data</xs:documentation>
			<xs:documentation>First description.</xs:documentation>
			<xs:documentation>Second description.</xs:documentation>
			<xs:documentation>Third description.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="complexTypeDoesNotEndWith" />
	<xs:simpleType name="simpleTypeDoesNotEndWith">
		<xs:restriction base="xs:date" />
	</xs:simpleType>
	<xs:simpleType name="stringBasedSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="integerBasedSimpleType">
		<xs:annotation>
			<xs:documentation>Integer based simple type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer" />
	</xs:simpleType>
	<xs:simpleType name="stringWithEnumSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type with enum</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="enumValue1" />
			<xs:enumeration value="enumValue2" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringWithEnumDocsSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type with enum and docs</xs:documentation>
			<xs:documentation>More documentation.
				Next line simple type doc.
			</xs:documentation>
			<xs:documentation>Yet another simple type doc.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="enumValue1" />
			<xs:enumeration value="enumValue2">
				<xs:annotation>
					<xs:documentation>Enum value 2.
						Next line.
					</xs:documentation>
					<xs:documentation>Next documentation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringWithLengthSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type with length</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="123" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringWithLengthDocsSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type with length and docs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="123">
				<xs:annotation>
					<xs:documentation>Length doc.</xs:documentation>
				</xs:annotation>
			</xs:length>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringWithMinMaxLengthSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type with min and max length</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="100" />
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringWithMinMaxLengthDocsSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type with min and max length and docs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="100">
				<xs:annotation>
					<xs:documentation>Min length doc.</xs:documentation>
				</xs:annotation>
			</xs:minLength>
			<xs:maxLength value="200">
				<xs:annotation>
					<xs:documentation>Max length doc.</xs:documentation>
				</xs:annotation>
			</xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringWithPatternSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type with pattern</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="pattern value 1" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringWithPatternDocsSimpleType">
		<xs:annotation>
			<xs:documentation>String based simple type with other specs and docs</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="pattern value 1">
				<xs:annotation>
					<xs:documentation>Pattern doc.</xs:documentation>
				</xs:annotation>
			</xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="withImportedTypes">
		<xs:sequence>
			<xs:element name="importedSimple" type="impd:importedSimpleString" />
			<xs:element name="importedComplex" type="impd:importedComplex" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="withMultilineName">
		<xs:annotation>
			<xs:documentation>First line.
				Second line.
				Third line.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:byte" />
	</xs:simpleType>
	<xs:complexType name="complexMultilineName">
		<xs:annotation>
			<xs:documentation>Complex first line.
				Second line.
				Third line.
			</xs:documentation>
		</xs:annotation>
	</xs:complexType>
</xs:schema>
