uctool/src/test/xsd-import/imported.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://imported.com/"
	xmlns="http://imported.com/" elementFormDefault="qualified">
	<xs:simpleType name="importedSimpleString">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:complexType name="importedComplex">
		<xs:sequence>
			<xs:element name="someElement" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
